/target
.idea/
*.iml
*~
*#
results*.txt
TestSuite*
*.snap
flatpak/
*.zip
*.zst
*.profraw
*.profdata
/lcov_report*
/report
ci_tester/target
ci_tester/Cargo.lock
krokiet/Cargo.lock
krokiet/target
*.json
*.mm_profdata
perf.data
perf.data.old
krokiet/ui/test.slint

misc/*/*.lock
misc/*/target/
misc/*/.idea
