pkgbase = czkawka-git
	pkgdesc = Multi functional app to find duplicates, empty folders etc.
	pkgver = 1.0.0.8d263fd
	pkgrel = 3
	url = https://github.com/qarmin/czkawka
	arch = any
	license = MIT
	makedepends = git
	makedepends = rust
	makedepends = cargo
	depends = gtk3>=3.22
	provides = czkawka
	source = czkawka::git+https://github.com/qarmin/czkawka.git
	source = com.github.qarmin.czkawka.desktop
	md5sums = SKIP
	md5sums = bbc480c6106a7bd7dc73c3cc49a76961

pkgname = czkawka-git

