[Desktop Entry]
Type=Application
Terminal=false
Exec=czkawka_gui
Name=Czkawka
Name[it]=Singhiozzo
Comment=Multi functional app to clean OS which allow to find duplicates, empty folders, similar files etc.
Comment[it]=Programma multifunzionale per pulire il sistema, che permette di trovare file duplicati, cartelle vuote, file simili, ecc...
Comment[zh_CN]=可用于清理文件副本、空文件夹、相似文件等的系统清理工具
Comment[zh_TW]=可用於清理重複檔案、空資料夾、相似檔案等的系統清理工具
Icon=com.github.qarmin.czkawka
Categories=System;FileTools
Keywords=Hiccup;duplicate;same;similar;cleaner
StartupWMClass=czkawka_gui
TryExec=czkawka_gui
