[Desktop Entry]
Type=Application
Terminal=false
Exec=czkawka
Name=Czkawka
Comment=Multi functional app to clean OS which allow to find duplicates, empty folders, similar files etc.
Icon=${SNAP}/meta/gui/czkawka.png
Categories=System;
StartupWMClass=czkawka
TryExec=czkawka
