name: Quality
on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 2'

env:
  CARGO_TERM_COLOR: always

jobs:
  quality:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Install Gtk 4
        run: sudo apt-get update; sudo apt install -y libgtk-4-dev libheif-dev -y

      - name: Check the format
        run: cargo fmt --all -- --check

      # Clippy overly_complex_bool_expr is disabled because mess with generated files in target dir
      # and I cannot disable it
      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -A clippy::overly_complex_bool_expr -D warnings
