name: Quality
on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            target
          key: quality-${{github.ref}}-${{github.sha}}
          restore-keys: |
            quality-cli-${{github.ref}}-${{github.sha}}

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
          override: true

      - name: Install Gtk
        run: sudo apt install -y libgtk-3-dev

      - name: Check the format
        run: cargo fmt --all -- --check

      # type complexity must be ignored because we use huge templates for queries
      - name: Run clippy
        run: >
          cargo clippy
          --all-targets
          --all-features
          --
          -D warnings
